// copiado de archivo de otro proyecto. solo para que quede la estructura

// para dejar objetos centrados
%ubicCentroext {
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: 0 auto;
}
